
@font-face {
    font-family: "Dancing";
    src: url("./fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf");
  }
@font-face {
    font-family: "Indie";
    src: url("./fuentes/Indie_Flower/IndieFlower-Regular.ttf");
  }
@font-face {
    font-family: "Pacific";
    src: url("./fuentes/Pacifico/Pacifico-Regular.ttf");
  }
  
*{
    box-sizing: border-box;
}
body{
    /* Ubicación de la imagen */

background-image: url(fondo.jpg);

/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;


font-family: "Dancing";
}

#fondo{
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

#contGeneral{
    > #cabecera{
        display: grid;
        grid-template-columns: repeat(2,50%);
        width: 80vw;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        div {
            display: grid;
            justify-items: end;
            align-items: center;
           > img{
                width: 20vh;
                height: auto;
            }
        }
        > h1{
            padding: 10px;
            display: grid;
            grid-template-columns: auto;
            font-size: 6vh;
            font-weight: 900;
           }
    }
    
     > #sesion{
         display: grid;
         margin-left: auto;
         margin-right: auto;
         width: 80vw;
         grid-template-columns: repeat(2,50%);
         grid-template-rows: 8vh;
         column-gap: 15px;
         margin-bottom: 4vh;
          > a {
            text-decoration: none;
            font-size: 3vh;
            display: grid;
            align-items: center;
            justify-content: center;
            background-color: #78a9c58a ;
            color: black;
            border-radius: 76px 0px 83px 0px;
            -moz-border-radius: 76px 0px 83px 0px;
            -webkit-border-radius: 76px 0px 83px 0px;
            border: 3px dashed #000000;
          }
     }
     > #acciones{
         display: grid;
         grid-template-columns: auto;
         row-gap: 15px;
         > a {
             text-decoration: none;
             background-color: #78a9c58a ;
             font-size: 3vh;
             display: grid;
             padding: 40px;
             align-items: center;
             justify-content: center;
             color: black;
             border-radius: 76px 0px 83px 0px;
            -moz-border-radius: 76px 0px 83px 0px;
            -webkit-border-radius: 76px 0px 83px 0px;
            border: 3px dotted #000000;

         }
     }
}

@media (min-width:768px){
    #contGeneral{
        > #cabecera{
            grid-template-columns: 40% 60%;
        }
         > #acciones{
             margin-top: 10vh;
             grid-template-columns: repeat(3,auto);
             grid-template-rows: 50vh;
             > a {
                 border-radius: 50%;
             }
             > a:nth-child(1){
                 align-self: start;
                 width: 70%;
                 height: 70%;
                 justify-self: end;
                 
             }
             > a:nth-child(2){
                 align-self: start;
                 width: 70%;
                 height: 70%;
                 grid-column: 3/4;
                 justify-self: start;
             }
             > a:nth-child(3){
                 align-self: end;
                 width: 70%;
                 height: 70%;
                 grid-column: 2/3;
                 grid-row: 1/2;
                 justify-self: center;
             }
         }
    }
}